<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create your own account</title>
</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Create account</button>
    </form>
    
    
    <h4>Already have an account?</h4>
    
    <a href="login">Login here!</a>

</body>
</html>